/* Font style variables */

$light: 'MyriadPro-Light';
$regular: 'MyriadPro-Regular';
$bold: 'MyriadPro-Bold';
$semiBold: 'MyriadPro-Semibold';
$ultraLight: 'MyriadPro-Ultralight';

$baseFontSize: 13px;

$main: #333;

$regularBlack: #000;
$regularWhite: #fff;
$regularRed: #e62f17;

$xxxxlightGray: #f4f4f4;
$xllightGray: #e0e0e0;
$xxxlightGray: #ccc;
$xxlightGray: #bbb;
$xlightGray: #f9f9f9;
$lightGray: #d6d6d6;
$darkGray: #666;
$xdarkGray: #a8a8a8;
$xxdarkGray: #202020;
$xxxdarkGray: #222;
$xxxxdarkGray: #999;
$blue: #008db0;
$lightGreen: #70cb97;
$green: #68be80;
$xlightGreen: #2fc0bb;
$lightBrown: #bd9f86;
$orange: #f69100;
$x-lightgray: #fbfbfb;
$xx-lightgray: #fafafa;
$xxx-lightgray: #9f9f9f;