.home__title {
  font-size: 14px;
  font-family: $light;
  color: $regularBlack;
  text-align: center;
  padding: 10px 30px 28px;
  position: relative;
  margin-bottom: 20px;

  @include screen(tablet) {
    font-size: 16px;
    padding: 13px 0 0;
    margin-bottom: 26px;
  }

  @include screen(xDesktop) {
    font-size: 18px;
    padding: 19px 0 0;
    margin-bottom: 26px;
  }

  &:after {
    display: block;
    content: "";
    height: 1px;
    background: $xllightGray;
    position: absolute;
    bottom: 0;
    width: 26.25%;
    left: 50%;
    margin-left: -13%;

    @include screen(tablet) {
      display: none;
    }
  } 
}