// html {
//   background: url("../images/profile-my_1260-1680.png") no-repeat 50% 0px;
// }
// body {
//   opacity: .5;
// }

.sign-up {
  padding-bottom: 46px;

  @include screen(tablet) {
    padding: 0;
  }

  &--step-active {
    display: block;
  }

}

.header--sign-up {
  position: relative;
  padding: 10px;
  border-bottom: 1px solid $lightGray;

  @include screen(tablet) {
    padding: 10px 15px;
  }

  @include screen(desktop) {
    width: 82%;
    margin: 0 auto;
    padding: 10px 0;
  }

  .cancel {
    font-family: $light;
    font-size: 18px;
    color: $regularBlack;
    position: absolute;
    height: 100%;
    opacity: .27;

    @include screen(tablet) {
      font-size: 16px;
      font-family: $light;
      @include vertical-align-one-line(40px);
    }
  }

  p {
    text-align: center;
    font-size: 18px;
    font-family: $light;

    @include screen(tablet) {
      font-size: 16px;
      @include vertical-align-one-line(40px);
    }
  }
}

.sign-up__title {
  text-align: center;
  font-size: 30px;
  font-family: $light;
  margin-top: 30px;

  @include screen(tablet) {
    font-size: 52px;
    margin: 30px 40px 0;
  }
}

.sign-up__description {
  text-align: center;
  font-size: 14px;
  font-family: $light;

  @include screen(tablet) {
    font-size: 16px;
    color: $darkGray;
    margin: 0 40px;
  }
}

.footer--sign-up {
  border-top: 1px solid $xdarkGray;
  background: $xlightGray;
  text-align: right;
  padding: 10px;
  position: relative;
  height: 44px;
  z-index: -1;
  margin-top: -44px;

  @include screen(tablet) {
    padding: 18px 40px;
    border: 0;
    height: 100px;
    margin-top: -100px;
  }

  @include screen(desktop) {
    padding: 25px 9%;
    height: 110px;
    margin-top: -110px;
  }

  .pagination {
    color: $blue;
    font-size: 18px;
    display: block;
    position: absolute;
    font-family: $light;
    top: 10px;

    &--next {
      right: 10px;

      @include screen(tablet) {
        right: 70px;
      }

      @include screen(desktop) {
        right: 11%;
      }
    }

    &--prev {
      left: 10px;

      @include screen(tablet) {
        left: 70px;
      }

      @include screen(desktop) {
        left: 11%;
      }
    }

    @include screen(tablet) {
      color: $xxxxdarkGray;
      font-size: 16px;
      top: 18px;
    }
  }

  .pagination__name {
    display: none;
    position: absolute;
    
    @include screen(tablet) {
      color: $blue;
      font-size: 32px;
      display: block;
      font-family: $light;
      top: 40px;

      &:after,
      &:before {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        margin-top: -9px;
      }

      &--next {
        right: 40px;
        padding-right: 26px;

        &:before {
          @include right-arrow (9px, 17px, $blue);
          right: 0;
        }

        &:after {
          @include right-arrow (9px, 17px, $xlightGray);
          right: 2px;
        }

        @include screen(desktop) {
          right: 9%;
        }
      }

      &--prev {
        padding-left: 26px;

        &:before {
          @include left-arrow (9px, 17px, $blue);
          left: 0;
        }

        &:after {
          @include left-arrow (9px, 17px, $xlightGray);
          left: 2px;
        }
      }
    }
  }

  .footer__get-started {
    font-size: 18px;
    color: $blue;
    display: block;
    position: absolute;
    right: 10px;

    @include screen(tablet) {
      font-size: 26px;
      color: $regularWhite;
      position: absolute;
      right: 5%;
      background: $green;
      @include vertical-align-one-line(60px);
      padding: 0 50px 0 30px;
      @include border-radius(30px);

      &:after,
      &:before {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        margin-top: -10px;
      }

      &:before {
        @include right-arrow (9px, 17px, $regularWhite);
        right: 30px;
      }

      &:after {
        @include right-arrow (9px, 17px, $green);
        right: 32px;
      }
    }

    @include screen(desktop) {
      right: 9%;
    }
  }
}

.steps {
  text-align: center;
  font-size: 0;
  display: none;

  .steps__item {
    height: 2px;
    display: inline-block;
    background: $xxxlightGray;
    width: 40px;
    margin: 0 2px;

    &--active {
      background: $xxxdarkGray;
    }
  } 

  @include screen(tablet) {
    display: block;
    margin: 137px 0;
  }

  @include screen(desktop) {
    margin: 80px 0;
  }
}