@font-face {
  font-family: 'MyriadPro-Semibold';
  src: url('MyriadPro-Semibold/MyriadPro-Semibold.eot?#iefix') format('embedded-opentype'),  
      url('MyriadPro-Semibold/MyriadPro-Semibold.otf')  format('opentype'),
      url('MyriadPro-Semibold/MyriadPro-Semibold.woff') format('woff'), 
      url('MyriadPro-Semibold/MyriadPro-Semibold.ttf')  format('truetype'), 
      url('MyriadPro-Semibold/MyriadPro-Semibold.svg#MyriadPro-Semibold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MyriadPro-Regular';
  src: url('MyriadPro-Regular/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),  
      url('MyriadPro-Regular/MyriadPro-Regular.otf')  format('opentype'),
      url('MyriadPro-Regular/MyriadPro-Regular.woff') format('woff'), 
      url('MyriadPro-Regular/MyriadPro-Regular.ttf')  format('truetype'), 
      url('MyriadPro-Regular/MyriadPro-Regular.svg#MyriadPro-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MyriadPro-Light';
  src: url('MyriadPro-Light/MyriadPro-Light.eot?#iefix') format('embedded-opentype'),  
      url('MyriadPro-Light/MyriadPro-Light.otf')  format('opentype'),
      url('MyriadPro-Light/MyriadPro-Light.woff') format('woff'), 
      url('MyriadPro-Light/MyriadPro-Light.ttf')  format('truetype'), 
      url('MyriadPro-Light/MyriadPro-Light.svg#MyriadPro-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MyriadPro-Bold';
  src: url('MyriadPro-Bold/MyriadPro-Bold.eot?#iefix') format('embedded-opentype'),  
      url('MyriadPro-Bold/MyriadPro-Bold.otf')  format('opentype'),
      url('MyriadPro-Bold/MyriadPro-Bold.woff') format('woff'), 
      url('MyriadPro-Bold/MyriadPro-Bold.ttf')  format('truetype'), 
      url('MyriadPro-Bold/MyriadPro-Bold.svg#MyriadPro-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MyriadPro-Ultralight';
  src: url('MyriadPro-Ultralight/MyriadPro-Ultralight.eot?#iefix') format('embedded-opentype'),  
      url('MyriadPro-Ultralight/MyriadPro-Ultralight.woff') format('woff'), 
      url('MyriadPro-Ultralight/MyriadPro-Ultralight.ttf')  format('truetype'), 
      url('MyriadPro-Ultralight/MyriadPro-Ultralight.svg#MyriadPro-Ultralight') format('svg');
  font-weight: normal;
  font-style: normal;
}